:root{
    --mainColor: #4d72d0;
    --mainColor2: #5bc198;
}
/* navbar */
.nav-link{
  color: black;
}
.nav-link:hover{
  color: var(--mainColor);
}
.dropdown-item{
  color: black;
}
.dropdown-item:hover{
  color: var(--mainColor);
}
.btn.btn-outline-primary:hover{
  background-color: var(--mainColor);
  color: white; 
  border-color: var(--mainColor);
} 
.btn.btn-primary{
  background-color: var(--mainColor);
}
/* headre */
.header {
    background-image: url(./../img/public/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.circle-wrapper {
    position: absolute;
    z-index: 1;
    margin-top: 150px;
}
.decorative-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 0.08);
    opacity: 0;
    transform: scale(0.5);
}
.circle-1 {
    width: 600px;
    height: 600px;
}
.circle-2 {
    width: 450px;
    height: 450px;
    top: 75px;
    left: 75px;
}
@keyframes scaleFadeIn {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.animate-circle {
    animation: scaleFadeIn 1s ease-out forwards;
}
.circle-1.animate-circle {
    animation-delay: 0.2s;
}
.circle-2.animate-circle {
    animation-delay: 0.8s;
}
@keyframes doctorFadeIn {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.doctor-img.animate-doctor {
    animation: doctorFadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.title {
    margin-top: 15%;
}
.bg_background {
    background-color: var(--mainColor);
}
.input-group .form-control::placeholder {
    color: gray;
}
.input-group .form-select {
    color: gray;
}
.booking-form-container {
    z-index: 10;
}
.btn-success:hover {
    background-color: var(--mainColor2);
}
/* section 1 after header */
.three-service{
    margin-top: 120px;
}
.service-wrapper{
    width: 90%;
    margin-left: 70px;
}
/* section 2 */
.about-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (min-width: 768px) {
    .about-section {
    min-height: 500px;
    max-height: 650px;
    overflow: hidden;
}
}
.about1 h4{
  color: #8392b3;
}
.about2 h4{
  color: #86b3b0;
}
.about3 h4{
  color: #c0b099;
}
.about4 h4{
  color: #909090;
}
.custom-width{
    width: 80%;
}
/* section 3 */
.service-cards {
  transition: border-color 0.3s ease-in-out;
  border: 10px solid white; 
  padding: 2rem;
  background-color: #f4f6fa;
}
.Overlay-Icon{
  margin-left: -140px;
  margin-top: 25px;
  width: 80;
}
.carousel-item{
    max-width: 1100px;
    margin-left: 90px
}
.bg-service-green {
  background-color: #e6f4f1;
}
.service-cards.bg-service-green:hover{
  border-color: #ace5d8;
}
.service-cards.bg-service-green:hover .btn{
  background-color: var(--mainColor2);
}
.bg-service-blue {
  background-color: #e3eafc;
}
.service-cards.bg-service-blue:hover{
  border-color: #b1c2ec;
}
.service-cards.bg-service-blue:hover .btn{
  background-color: var(--mainColor);
}
.bg-service-yellow {
  background-color: #fdf4e3;
}
.service-cards.bg-service-yellow:hover{
  border-color: #d7c6a5;
}
.service-cards.bg-service-yellow:hover .btn{
  background-color: #c9ac73;
}
.text-service{
  color: var(--mainColor);
}
/* section 4 */
.why-emergency-section {
  margin-top: 100px;
}
.bg-why {
  background-color: var(--mainColor2);
  background-image: url('./../img/blog/why-choose-bg-left.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}
.bg-emergency {
  background-image: url('./../img/blog/hover-bg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}
.left-shifted-col{
  padding-left: 150px;
}
.right-shifted-col{
  padding-left: 70px;
}
.check-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(27, 71, 18, 0.25); 
}
.check-icon i {
  color: white;
  font-size: 16px;
}
/* section 5 */
.play-button {
  width: 64px; 
  height: 64px; 
  z-index: 10;
}
.play-button:hover {
  background-color: var(--mainColor);
  text-decoration: none;
}
.bg-play-button{
  background-color: var(--mainColor);
}
.subscribe-box input::placeholder {
  color: gray;
}
.subscribe-box button {
  height: 48px;
  width: 48px;
}
/* section 6 */
.text-team{
  color: var(--mainColor);
}
.team-doctor{
  max-width: 80%;
}
.doctor-card {
  background-color: #f5f1eb; 
}
.doctor-card:hover {
  background-color: #c4ad91; 
}
.bg_green{
  background-color: #e4f1f0;
}
.bg_green:hover{
  background-color: var(--mainColor2);
}
.bg_blue{
  background-color: #e3e9f6;
}
.bg_blue:hover{
  background-color: var(--mainColor);
}
.card.doctor-card:hover h5,
.card.doctor-card:hover p
{
  color: white;
}
/* section 7 */
.healthier-section {
  background: url('./../img/public/bg-img-3.jpg') no-repeat center ;
  background-size: cover;
  min-height: 500px;
  position: relative;
  z-index: 1;
}
.healthier-section .container {
  position: relative;
  z-index: 3;
}
.play-btn {
  width: 48px;
  height: 48px;
  background-color: #1e2b3c;
  font-size: 1rem;
}
/* section 8 */
.Testimonials__title{
  margin-left: 8%;
}
.testimonial-box {
  background-image: url('./../img/patterns/testi-side-img_05.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100px;
  min-height: 320px;
  max-width: 100%;
}
.client-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 20px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.border-pink {
  border-color: #f5e3f5 !important;
}
.border-green {
  border-color: #ddeeea !important;
}
/* section 9 */
.blog-item {
  position: relative;
  background-color: #f8f9fa;
  transition: all 0.4s ease;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}
.blog-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./../img/blog/hover-bg.png'); 
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: 0;
  transition: 0.4s ease;
}
.blog-item:hover::before {
  opacity: 1;
}
.blog-item:hover {
  background-color: var(--mainColor);
}
.blog-item * {
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}
.blog-item:hover .blog-title,
.blog-item:hover .meta-text,
.blog-item:hover .stat-text {
  color: white;
}
.blog-item:hover .read-btn {
  background-color: #1c1c1c;
  border: none;
  color: white;
}
.blog-img {
  width: 220px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}
/* footer */
.footer-section {
  background: url('./../img/footer/footer-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}
.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
  color: #ccc;
}
.footer-links li:hover {
  color: var(--mainColor2);
  text-decoration: underline;
}
.footer-logo span {
  font-size: 1.5rem;
  font-weight: bold;
}
.btn.btn-outline-success:hover{
  background-color: var(--mainColor2);
}
.text__footer{
  color: var(--mainColor2);
}
.bg__box{
  background-color: #3c3f42;
}
.text__social{
  background-color: var(--mainColor2);
  color: white;
  width: 35px;
  height: 35px;
}
/* end home page */
/* header */
.icon-search{ 
  width:40px; 
  height:40px;
}
.bg__icon__search{
  background-color: var(--mainColor2);
}
/* section 1 */
.hero-services-section {
  background: url('./../img/public/sub-header-bg.png'), var(--mainColor);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
.border-line {
  width: 40px;
  height: 2px;
  background-color: white;
}
.our-service{
  max-width: 1120px;
}
/* section 2 */
.service-card {
  background-image: url('./../img/services_section/service-box-bg.png');
  background-repeat: no-repeat;
  background-position: top;

}
.service-card:hover {
  background-color: var(--mainColor);
  color: white;
}
.service-card:hover img{
  background-color: var(--mainColor2);
}
.service-card:hover h5,
.service-card:hover p,
.service-card:hover a,
.service-card:hover img
{
  color: white;
}
.service-card img {
  background: white;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
/* section 3 */
.bg-blue {
  background-color: var(--mainColor);
  background-image: url('./../img/public/sub-header-bg.png'); 
  background-size: cover;
}
.form-control::placeholder,
.form-select {
  color: white;
}
.form-control,
.form-select,
textarea {
  border-color: rgba(255, 255, 255, 0.5);
}
/* section 4 */
.price__doctors{
  max-width: 150vh;
}
.border-start {
  border-left: 1px solid #ddd;
}
.border-end {
  border-right: 1px solid #ddd;
}
/* section 5 */
.team__description {
  background-image: url("./../img/public/testi-bg.png");
  background-size: contain;
  
}
.size-section{
  max-width: 140px;
}
.name__doctor{
  color: var(--mainColor);
}
/* section 6 */
.btn__book{
  background-color: var(--mainColor2);
}
.btn__book:hover{
  background-color: var(--mainColor2);
}
/* Page Doctors */
/* section 1 */
.team-img{
  width: 75%;
  height: 75%;
}
/* section 2 */
.emergency-section {
  background-image: url("./../img/public/bg-img-doctors.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.emergency-box {
  background: rgba(0, 170, 150, 0.85); 
  backdrop-filter: blur(1px);
}
.icon-box {
  width: 45px;
  height: 45px;
  background-color: #4a63f3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
/* Page Price */
/* section 2 */
.satisfaction-section {
  min-height: 100vh;
  overflow: hidden;
}
.bg-purple {
  background: var(--mainColor); 
}
.before-after-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#ba-slider img {
  display: block;
  height: auto;
}
#ba-slider .resize {
  position: absolute;
  top: 15%;
  left: 15%;
}
/* Page About */
/* section 3 */
.border-box {
  border-left: 4px dotted var(--mainColor2);
  padding-left: 1rem;
}

.border-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.border-box a {
  text-decoration: none;
  color: var(--mainColor);
}

.border-box a:hover {
  text-decoration: underline;
}
/* sign in & sign up */
.doctor-img {
  max-width: 100%;
  height: auto;
  transform: scale(1.05);
}
.bg-circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 123, 255, 0.05);
  z-index: 0;
}
.bg-circle-1 {
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}
.bg-circle-2 {
  width: 200px;
  height: 200px;
  bottom: -80px;
  right: -80px;
}



.custom-width-our-mission{
  max-width: 85%;
}

